Repository kucc/ku-random-chat, pull requests merged in 2021-05, with the labels that each got.

#30 채팅방 생성 모달 component 추가
  client/.gitkeep
  client/package-lock.json
  client/package.json
  client/src/components/common/modal/index.tsx
  client/src/components/common/modal/styles.ts
  client/src/components/common/modal/types.ts
  client/src/components/create-chatroom-modal/index.tsx
  client/src/components/create-chatroom-modal/styles.ts
  client/src/components/create-chatroom-modal/types.ts
Labels: client

#28 Server Login 인증로직 구현
  server/package-lock.json
  server/package.json
  server/src/app.gateway.ts
  server/src/app.module.ts
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/sign-in.dto.ts
  server/src/common/config/index.ts
  server/src/common/model/user.model.ts
  server/src/main.ts
  server/src/user/dto/user-response.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.ts
Labels: server

#32 feat : implement sign-up function & add axios setting
  client/package-lock.json
  client/package.json
  client/src/common/endpoints.ts
  client/src/common/lib/api/auth.ts
  client/src/common/lib/axios.ts
  client/src/common/model/sign-up.ts
  client/src/pages/sign-up/index.tsx
  client/webpack.config.js
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/sign-up.dto.ts
  server/src/main.ts
Labels: client, server

#33 feat : match-room components design
  client/package-lock.json
  client/src/App.tsx
  client/src/assets/info.jpg
  client/src/components/chat-room-list/index.tsx
  client/src/components/chat-room-list/styles.ts
  client/src/components/chat-room/index.tsx
  client/src/components/chat-room/styles.ts
  client/src/components/chat-room/types.ts
  client/src/components/header/index.tsx
  client/src/components/header/styles.ts
  client/src/pages/match-room/.gitkeep
  client/src/pages/match-room/index.tsx
  client/src/pages/match-room/styles.ts
Labels: client

#47 feat : make home page
  client/package-lock.json
  client/package.json
  client/src/assets/front.png
  client/src/pages/home/index.tsx
  client/src/pages/home/styles.ts
  client/webpack.config.js
Labels: client

#48 feat : match-room design modification
  client/src/pages/match-room/index.tsx
  client/src/pages/match-room/styles.ts
Labels: client

#50 feat : implement email verification
  client/package-lock.json
  client/package.json
  client/src/assets/constant.ts
  client/src/components/email-verification-modal/index.tsx
  client/src/components/email-verification-modal/styles.ts
  client/src/components/email-verification-modal/types.ts
  client/src/pages/sign-up/index.tsx
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/common/model/user.model.ts
  server/src/common/schemas/user.schema.ts
  server/src/user/dto/user-response.dto.ts
  server/src/user/user.service.ts
Labels: client, server

#56 내정보, 홈, 정보입력 css 반응형, info 아이콘
  client/package-lock.json
  client/src/App.tsx
  client/src/assets/info.jpg
  client/src/assets/info.png
  client/src/common/endpoints.ts
  client/src/common/lib/api/info.ts
  client/src/common/lib/api/mypage.ts
  client/src/common/model/info.ts
  client/src/common/model/my-page.ts
  client/src/components/header/index.tsx
  client/src/components/header/styles.ts
  client/src/components/info-input/index.tsx
  client/src/components/info-input/styles.ts
  client/src/components/info-input/types.ts
  client/src/components/my-page-constant/index.tsx
  client/src/components/my-page-constant/styles.ts
  client/src/components/my-page-constant/types.ts
  client/src/components/my-page-input/styles.ts
  client/src/components/my-page-input/types.ts
  client/src/pages/home/index.tsx
  client/src/pages/home/styles.ts
  client/src/pages/info/index.tsx
  client/src/pages/info/styles.ts
  client/src/pages/info/types.ts
  client/src/pages/match-room/index.tsx
  client/src/pages/my-page/index.tsx
  client/src/pages/my-page/styles.ts
  client/src/pages/my-page/types.ts
Labels: client

#61 feat : check email verification and resend an email
  client/src/assets/constant.ts
  client/src/common/lib/api/auth.ts
  client/src/components/sign-in-alert-modal/index.tsx
  client/src/components/sign-in-alert-modal/styles.ts
  client/src/components/sign-in-alert-modal/types.ts
  client/src/pages/sign-in/index.tsx
  server/src/auth/auth.controller.ts
Labels: client, server

#65 feat : implement main page
  client/src/App.tsx
  client/src/assets/constant.ts
  client/src/pages/main/index.tsx
  client/src/pages/main/styles.ts
Labels: client
